{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb"
  ],
  "globals": {
    "window": true,
    "navigator": true,
    "__webpack_public_path__": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": [
        "@babel/preset-react"
      ]
    }
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 150,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "object-curly-newline": "off",
    "no-unused-expressions": [
      1,
      {
        "allowTernary": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    }
  }
}
